@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
header {
  position: relative;
  z-index: 20;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 3%;
}
header h1 {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: #FFE1E0;
  font-size: 3rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  align-items: center;
}
header nav ul li {
  font-family: "Prompt", sans-serif;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #FFE1E0;
}

.video-inicio {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.video-inicio video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
.video-inicio .video-texto {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.video-inicio .video-texto h2 {
  font-family: "Puritan", sans-serif;
  font-size: 48px;
  color: #FFE1E0;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 20px;
}
.video-inicio .video-texto h3 {
  font-family: "Puritan", sans-serif;
  color: #FFE1E0;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

main .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
main h2 {
  font-family: "Puritan", sans-serif;
  font-weight: 600;
  color: #FFE1E0;
  font-size: 3.5rem;
  padding-bottom: 2%;
}
main h3 {
  font-family: "Puritan", sans-serif;
  font-weight: 400;
  color: #FFE1E0;
  font-size: 2.5rem;
  padding-bottom: 2%;
}
main p {
  font-family: "Prompt", sans-serif;
  color: #FFE1E0;
}
main .sobre-mi-podcast {
  background-color: #715f86;
  padding: 4%;
}
main .sobre-mi-podcast .sobre-mi-texto {
  padding-left: 10%;
}
main .sobre-mi-podcast .sobre-mi-texto :nth-child(3), main .sobre-mi-podcast .sobre-mi-texto :nth-child(4) {
  font-weight: 200;
}
main .sobre-mi-podcast .carusel {
  padding: 2%;
  max-width: 350px;
  border-radius: 10px;
}
main .sobre-mi-podcast .podcast {
  padding-top: 3%;
}
main .sobre-mi-podcast .podcast .botones-podcast {
  margin: 10%;
}
main .sobre-mi-podcast .podcast .botones-podcast button a {
  font-family: "Prompt", sans-serif;
  color: #FFE1E0;
  text-decoration: none;
}
main .sobre-mi-podcast .podcast .botones-podcast button {
  padding: 2%;
  border-radius: 10px;
  margin: 5%;
  cursor: pointer;
  background: linear-gradient(90deg, #7F55B1, #71568f);
  transition: all 0.6s ease;
  border: 10%;
  border: 1px solid #FFE1E0;
}
main .sobre-mi-podcast .podcast .botones-podcast button:hover {
  background: linear-gradient(90deg, #f49ee6, #b129c6);
  box-shadow: 0 4px 15px rgb(234, 149, 212);
}
main .sobre-mi-podcast .podcast .botones-podcast button:active {
  background: linear-gradient(90deg, #f49ee6, #b129c6);
  transform: scale(0.98);
  box-shadow: 0 4px 15px rgb(234, 149, 212);
}
main .danza-anatomia {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
main .danza-anatomia img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
main .danza-anatomia .danza-anatomia-texto {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .danza-anatomia .danza-anatomia-texto p {
  font-size: 2rem;
}
main .workshop {
  padding-top: 5%;
  background-color: #715f86;
}
main .workshop .invertido video {
  width: 100%;
  height: 450px;
}
main .workshop .invertido .logo-workshop {
  width: 100%;
  border-radius: 10px;
}
main .testimonios {
  padding-top: 5%;
  padding-bottom: 5%;
}
main .testimonios .titulo-seccion {
  text-align: center;
}
main .testimonios .texto-testimonios {
  padding: 3%;
  background-color: #7F55B1;
  border-radius: 50px;
  margin: 2%;
}

footer {
  padding: 3%;
  background-color: #7F55B1;
}
footer p {
  font-family: "Prompt", sans-serif;
  color: #FFE1E0;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
footer .container .redes-sociales {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
footer .container .redes-sociales a {
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  color: #FFE1E0;
}
footer .container .redes-sociales a:hover {
  transform: scale(1.1);
  color: #f49ee6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7F55B1;
}

/*# sourceMappingURL=main.css.map */
