@use './partials/variables.scss';

@use './partials/header.scss';
@use './partials/video-fondo.scss';
@use './partials/main-content.scss';
@use './partials/footer.scss';

@use './partials/respondibe-mobile.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: variables.$colorprincipal;
}
::selection {
    background-color: variables.$colorsecundario; 
    color: variables.$colorletras;
}