@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
main .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
main h2 {
  font-family: "Puritan", sans-serif;
  font-weight: 600;
  color: #280619;
  font-size: 3.8rem;
  padding-bottom: 2%;
}
main h3 {
  font-family: "Puritan", sans-serif;
  font-weight: 400;
  color: #280619;
  font-size: 2.5rem;
  padding-bottom: 2%;
}
main p {
  font-family: "Prompt", sans-serif;
  color: #280619;
}
main button a {
  font-family: "Prompt", sans-serif;
  color: #FFE1E0;
  text-decoration: none;
}
main button {
  padding: 2%;
  border-radius: 10px;
  margin: 5%;
  cursor: pointer;
  background: linear-gradient(90deg, #7F55B1, #732952);
  transition: all 0.6s ease;
  border: 10%;
  border: 1px solid #FFE1E0;
}
main button:hover {
  background: linear-gradient(90deg, #71568f, #732952);
  box-shadow: 0 4px 15px rgb(234, 149, 212);
  transform: scale(1.05);
}
main button:active {
  background: linear-gradient(90deg, #71568f, #732952);
  transform: scale(0.98);
  box-shadow: 0 4px 15px rgb(234, 149, 212);
}
main .sobre-mi-podcast {
  background-color: #8B878C;
}
main .sobre-mi-podcast .sobre-mi-texto {
  padding-left: 10%;
}
main .sobre-mi-podcast .sobre-mi-texto :nth-child(3), main .sobre-mi-podcast .sobre-mi-texto :nth-child(4) {
  font-weight: 200;
}
main .sobre-mi-podcast .carusel {
  padding: 2%;
  max-width: 350px;
  border-radius: 10px;
}
main .sobre-mi-podcast .carusel .carousel-inner img {
  border-radius: 20px;
}
main .sobre-mi-podcast .podcast {
  padding-top: 3%;
}
main .sobre-mi-podcast .podcast .texto-podcast {
  text-align: center;
}
main .sobre-mi-podcast .podcast img {
  width: 70%;
  border-radius: 20px;
}
main .sobre-mi-podcast .podcast .botones-podcast {
  display: flex;
  flex-direction: column;
}
main .danza-anatomia {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
main .danza-anatomia img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
main .danza-anatomia .danza-anatomia-texto {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .danza-anatomia .danza-anatomia-texto h2 {
  color: azure;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main .danza-anatomia .danza-anatomia-texto p {
  font-size: 2rem;
  color: azure;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main .workshop {
  background-color: #8B878C;
}
main .workshop .invertido video {
  padding-top: 10%;
  width: 100%;
  height: 450px;
  border-radius: 20px;
}
main .workshop .invertido .logo-workshop {
  padding-top: 10%;
  width: 100%;
  border-radius: 10px;
}
main .workshop .invertido h2 {
  padding-top: 10%;
}
main .testimonios .titulo-seccion {
  padding-top: 5%;
  text-align: center;
}
main .testimonios .texto-testimonios {
  padding: 3%;
  background-color: #732952;
  border-radius: 50px;
  margin: 2%;
  height: 100%;
}
main .testimonios .texto-testimonios p {
  text-align: center;
  color: #FFE1E0;
}
main .ofrece {
  background-color: #8B878C;
  padding-top: 5%;
  padding-bottom: 5%;
}
main .ofrece .card-title {
  font-family: "Puritan", sans-serif;
  font-weight: 600;
  color: #FFE1E0;
  font-size: 3rem;
  padding-bottom: 2%;
}
main .ofrece p {
  color: #FFE1E0;
}
main .ofrece .card-fondo {
  background-color: #732952;
  border: none;
}
main .ofrece .card-footer .text-body-secondary {
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  color: #FFE1E0 !important;
}
main .reserva {
  background-color: #8B878C;
}
main .reserva .reserva-texto {
  padding: 3%;
}
main .algo-te-suena {
  background-color: #8B878C;
}
main .algo-te-suena .emoji {
  font-size: 4rem;
}
main .foto1 {
  background-color: #8B878C;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
main .foto1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
main .foto1 .foto1-texto {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3%;
}
main .foto1 .foto1-texto h2 {
  color: azure;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main .foto1 .foto1-texto p {
  font-size: 2rem;
  color: azure;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main .despues-de-curso {
  padding: 3%;
  background-color: #8B878C;
}
main .foto2 {
  background-color: #8B878C;
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
main .foto2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
main .foto2 .foto2-texto {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  padding-right: 3%;
}
main .foto2 .foto2-texto h2 {
  font-size: 3rem;
  color: azure;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main .foto2 .foto2-texto p {
  font-size: 2rem;
  color: azure;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main .incluye {
  background-color: #8B878C;
}
main .incluye h2 {
  padding-top: 3%;
}
main .incluye .card-incluye {
  background: linear-gradient(180deg, #71568f, #7F55B1);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  color: white;
  margin: 1rem;
}
main .incluye .card-incluye .emoji {
  font-size: 5rem;
  margin-top: -6rem;
}
main .incluye .card-incluye h3 {
  font-weight: 700;
  margin-top: 1rem;
}
main .para-quien-es {
  background-color: #8B878C;
  padding: 3%;
}
main .para-quien-es .titulo {
  display: flex;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
main .para-quien-es .titulo .emoji {
  font-size: 2.8rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 1;
}
main .para-quien-es .titulo h2 {
  padding: 0;
  margin: 0;
  line-height: 1;
}
main .preguntas-frecuentes {
  background-color: #8B878C;
  padding: 3%;
}
main .preguntas-frecuentes .accordion-item {
  background-color: #71568f;
  border: none;
}
main .preguntas-frecuentes .accordion-item h3 {
  padding: 0;
}
main .preguntas-frecuentes .accordion-item button {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  margin: 0;
  font-size: 1.5rem;
  color: #FFE1E0;
}
main .preguntas-frecuentes .accordion-item button:focus {
  box-shadow: none;
  border-color: transparent;
}
main .preguntas-frecuentes .accordion-item button::after {
  filter: brightness(10);
}
main .preguntas-frecuentes .accordion-item button:not(.collapsed)::after {
  filter: brightness(10) !important;
}
main .preguntas-frecuentes .accordion-item .accordion-body {
  color: #FFE1E0;
  font-family: "Prompt", sans-serif;
}

/*# sourceMappingURL=main-content.css.map */
