@use './variables.scss';

main{
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        }
    h2{
        font-family: variables.$letrasubtitulos;
        font-weight: 600;
        color: variables.$colorletras;
        font-size: 3.5rem;
        padding-bottom: 2%;
    }
    p {
        font-family:  variables.$letraparrafos;
        color: variables.$colorletras;
    }
    .sobre-mi-podcast{
        background-color: variables.$colorfondo;
        padding: 4%;
        .sobre-mi-texto{
            padding-left: 10%;
            :nth-child(3), :nth-child(4){ //segundo y tercer parrafo
                font-weight: 200;
            }
        }
        .carusel{
            padding: 2%;
            max-width: 350px;
            border-radius: 10px;
        }
        .podcast{
            padding-top:3%;
            .botones-podcast{
                margin: 10%;
                button{
                    a{
                        font-family: variables.$letraparrafos;
                        color: variables.$colorletras;
                        text-decoration: none;
                    }
                    padding: 2%;
                    border-radius: 10px;
                    margin: 5%; 
                    cursor: pointer;
                    background: linear-gradient(90deg,variables.$colorprincipal, variables.$colorsecundario);
                    transition: all 0.6s ease;
                    border: 10% ;
                    border: 1px solid variables.$colorletras;
                    &:hover {
                        background: linear-gradient(90deg, #f49ee6, #b129c6);
                        box-shadow: 0 4px 15px rgb(234, 149, 212);
                    }

                    &:active{
                        background: linear-gradient(90deg, #f49ee6, #b129c6);
                        transform: scale(0.98);
                        box-shadow: 0 4px 15px rgb(234, 149, 212);
                    }
                }
            }
        }
    }

    .danza-anatomia{
        position: relative;
        width: 100%; 
        height: 500px;
        overflow: hidden;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            object-fit: cover; 
            transform: translate(-50%, -50%);
            opacity: 0.9;
        }

        .danza-anatomia-texto{
            position: relative;
            z-index: 10;  
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            p{
                font-size: 2rem;
            }
        }
    }
}